
body{
  background-color: #1b1b1b;
  
}

*{
  box-sizing: border-box;
  /* text-rendering: optimizeLegibility; */
  -webkit-font-smoothing: antialiased;
  

}

@media (max-width: 768px) {
  *{
    overflow-x: hidden; /* Hides horizontal overflow on mobile screens */
  }
}



.underline-animation {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #eb5e28; 
  transition: width 0.4s ease-in-out;
}

.nav-link {
  font-weight:medium ;
}


.nav-link:hover .underline-animation{
  width: 100%;
}

.shadow-orange {
  box-shadow: 0 4px 6px rgba(255, 109, 0, 0.5);
}








@tailwind base;
@tailwind components;
@tailwind utilities;